@model Inmobiliaria.Models.Propietario

@{
    ViewData["Title"] = "Create";
}






 <div class="Create_Propietario">
        <h1>Registrarse</h1>
        <form asp-action="Create">
            
            <div>
                <label asp-for="Nombre"></label>
                <input asp-for="Nombre" />
                <span asp-validation-for="Nombre"></span>
            </div>
             <div>
                <label asp-for="Apellido"></label>
                <input asp-for="Apellido" />
                <span asp-validation-for="Apellido"></span>
            </div>
            <div>
                <label asp-for="Dni"></label>
                <input asp-for="Dni" />
                <span asp-validation-for="Dni"></span>
            </div>
            <div>
                <label asp-for="Contraseña"></label>
                <input asp-for="Contraseña" />
                <span asp-validation-for="Contraseña"></span>
            </div>
            <div>
                <label asp-for="Direccion"></label>
                <input asp-for="Direccion" />
                <span asp-validation-for="Direccion"></span>
            </div>
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Telefono"></label>
                <input asp-for="Telefono" />
                <span asp-validation-for="Telefono"></span>
            </div>
            <div>
                <input type="submit" value="Registrar" />
            </div>
        </form>
        <a asp-controller="Home" asp-action="Login">Volver</a>
 </div>




