@model Inmobiliaria.Models.Propietario

@{
    ViewData["Title"] = "Create";
}


 <div class="Create_Propietario ">
     <div>
         <h1>Registrarse</h1>
         <form asp-action="Create">

             <div>
                 <label asp-for="Nombre"></label>
                 <input asp-for="Nombre" />



                 <label asp-for="Apellido"></label>
                 <input asp-for="Apellido" />

            
                 <label asp-for="Dni"></label>
                 <input asp-for="Dni" />



                 <label asp-for="Clave"></label>
                 <input asp-for="Clave" />

            
                 <label asp-for="Domicilio"></label>
                 <input asp-for="Domicilio" />



                 <label asp-for="Email"></label>
                 <input asp-for="Email" />

            
                 <label asp-for="Telefono"></label>
                 <input asp-for="Telefono" />
             </div>

                 <input type="submit" value="Registrar" style="margin-top:10px" />

         </form>
         <span style="color:red">@ViewBag.registrado</span>
         <span>@ViewBag.StackTrate</span>
         <a asp-controller="Home" asp-action="Login">Volver</a>
     </div>
 </div>




