@model Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Create";
}


<div class="Create_Propietario">
    <div>
        <h1>Registrar Contrato</h1>
        <h4>Direccion de la inmueble:@ViewBag.NombreInmueble</h4>
        <form asp-action="Create">
            <div >
                 
                <input asp-for="InmuebleId" value=@ViewBag.InmuebleId type="hidden" />
          
            
           
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
           
           
                <label asp-for="FechaCierre" class="control-label"></label>
                <input asp-for="FechaCierre" class="form-control" />

          
           
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />

           
                <label asp-for="InquilinoId" class="control-label">DNI inquilino</label>
                <Input asp-for="InquilinoId" />
                
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
        <p style="color:red">@ViewBag.error</p>
    </div>
</div>


