@model Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Edit";
}





<div class="div_Editar">
    <div class="div_Editar_contenido">
        <h2> Editar Contrato</h2>
        <h4> Propietario @ViewBag.PropietarioNombre</h4>
        <h4>Direccion @ViewBag.NombreInmueble</h4>
        
        <form asp-action="Edit">
            <div>
                <input type="hidden" asp-for="InmuebleId" value=@ViewBag.InmuebleId />
            </div>
            <div>
                <label asp-for="InquilinoId" class="control-label">Inquilino @ViewBag.InquilinoNombre</label>
                <input type="hidden" asp-for="InquilinoId" value=@ViewBag.InquilinoId />
            </div>
            <input type="hidden" asp-for="Id" />
            <div>
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" value=@ViewBag.FechaInicio />

            </div>
            <div>
                <label asp-for="FechaCierre" class="control-label"></label>
                <input asp-for="FechaCierre" class="form-control" value=@ViewBag.FechaCierre />

            </div>
            <div>
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" value=@Model.Monto />
            </div>
            <div>
                <input type="submit" value="Editar" class="btn btn-primary" />
                <p style="color:red">@ViewBag.error</p>
            </div>
        </form>
    </div>
       
 </div>


