@model Inmobiliaria.Models.Inmueble

@{
    ViewData["Title"] = "Create";
}



<div class="Create_Propietario ">
    <div>
        <h1>Registrar Inmueble</h1>
        <h4>Propietario:@ViewBag.NombrePropietario</h4>
        <form asp-action="Create">
            <div>
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />

                <label asp-for="Uso" class="control-label"></label>
                <select asp-for="Uso">
                    <option value="residencial" selected>residencial</option>
                    <option value="comercial">comercial</option>
                </select>

                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo">
                    <option value="casa" selected>casa</option>
                    <option value="local">local</option>
                    <option value="deposito">deposito</option>
                    <option value="departamento">departamento</option>
                </select>


                <label asp-for="Cantidad_Habitantes" class="control-label"></label>
                <input asp-for="Cantidad_Habitantes" class="form-control" />



                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />


                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado">
                    <option value="disponible" selected>disponible</option>
                    <option value="ocupado">ocupada</option>
                </select>

                <input value=@ViewBag.PropietarioId asp-for="PropietarioId" class="form-control" type="hidden">
            </div>

            <input type="submit" value="Registrar" class="btn btn-primary" />

        </form>
        <p style="color:red">@ViewBag.error</p>
    </div>
</div>


