
@{
    ViewData["Title"] = "Login";
}

<div class="login">
    <div class="login_div_form">
        <div>
            <h1>Inmobiliaria</h1>
            <p>Colombo</p>
        </div>
        <form asp-route="IndexPropietario">
            <h4>Email</h4>
            <input type="email" name="email" placeholder="email" />
            <h4>Contraseña</h4>
            <input type="password" name="contraseña" placeholder="****" />
            <div>
                <input type="submit" name="ingresar" value="Ingresar" />
            </div>
        </form>
        <a asp-route="CreatePropietario">Registrate</a>
    </div>
</div>

