
/*PROPIETARIO*/
.Create_Propietario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.Create_Propietario > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-color: white;
    border: 1px solid royalblue;
    border-radius: 5px;
    padding: 20px;
}

    .Create_Propietario form {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
        .Create_Propietario form >div {
            display:flex;
            align-items:center;
            flex-wrap:wrap;
            flex-direction:column;
        }
        .Create_Propietario form div > input {
            border: 1px solid gray;
            border-radius: 5px;
            padding: 5px;
            height: 30px;
            outline: none;
        }
    .Create_Propietario  a {
        margin-top :5px;
        text-decoration: none;
        color: aqua;
    }
    .Create_Propietario  a:hover {
            color: black;
            text-decoration:underline;
        }
  .table {
      background-color:white;
  }



.tableListaPropietario {
    background-color: white;
    border:1px solid black;
}

.tableListaPropietario th {
    border:1px solid black;
}
.tableListaPropietario td {
    border:1px solid black;
}

.tableListaPropietario a{
    text-decoration:none;
   
}
.tableListaPropietario > tbody > tr > td:last-child a{
        border-right: 1px solid black;
    } 

.div_tabla {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 0 0;
}

.div_tabla >p> a{
     text-decoration:none;
     border:1px solid black;
     background-color:lightgrey;
     color:black;
     padding:5px;
     border-radius:5px;
    
}
    .div_tabla > p > a:hover {
        text-decoration: none;
        border: 1px solid black;
        background-color: gray;
        color: black;
        padding: 5px;
        border-radius: 5px;
    }
.div_tabla >p{
    margin-bottom:15px;

}