body{
    margin:0;
    background-color: royalblue;
}
.login{
   display:flex;
   justify-content:center;
   align-items:center;
   width:100vw;
   height:100vh;
}

.login a{
    text-align:center;
    text-decoration:none;
    margin-top:20px;
    color:royalblue;
}
.login a:hover{
    text-decoration:underline;
    color:black;
}
.login_div_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:25px 50px;
    border: 1px solid gray;
    border-radius: 25px;
    width:200px;
    height:450px;
    background-color: white;
    font-family:Lato;
}

.login_div_form h1,h4,p {
    margin: 0;
}

.login_div_form h1,h4{
    margin-top:10px;
    margin-bottom:5px;
}

.login_div_form form input{
    margin: 10px 0px;
    border:1px solid gray;
    border-radius:5px;
    padding:5px;
    height:30px;
    outline:none;

}

    .login_div_form div:first-child {
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        margin-bottom:50px;
        
    }

.login_div_form div:first-child h1 {
    font-size: 40px;
    color:royalblue;
}

.login_div_form div:first-child p {
    font-size: 25px;
}

.login_div_form div {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:15px;
}

.login_div_form div input{
    height:30px;
    width:90px;
    font-family:Lato;
    border:1px solid gray;
    background-color:white;
    cursor:pointer;
}

.login_div_form div input:hover {
     background-color:lightgray;  
}
